<div class="post-layout">
    <aside id="outline">
    </aside>
    
    <div class="post-main">
        <article class="post markdown-body" itemscope="" itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 class="posttitle" itemprop="name headline">
                    {{.Post.Title}}
                </h1>

                <div class="meta">
                    <span class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <span itemprop="name">{{.Config.Site.Author}}</span>
                    </span>

                    <div class="postdate">
                        <time datetime={{.Post.CreatedAtFormat}} itemprop="datePublished">{{.Post.CreatedAtFormat}}</time>
                        (Updated:
                        <time datetime={{.Post.UpdatedAtFormat}} itemprop="dateModified">{{.Post.UpdatedAtFormat}}</time>
                        )
                    </div>

                    <div class="article-category">
                        <i class="fas fa-archive"></i>
                        <a class="category-link" href="/category/{{.Post.Category}}.html">{{.Post.Category}}</a>
                    </div>

                    <div class="article-tag">
                        <i class="fas fa-tag"></i>
                        {{range .Post.Tags}}
                        <a class="tag-link" href="/tags/{{.}}.html">{{.}}</a><span>,</span>
                        {{end}}
                    </div>
                </div>
            </header>

            <div class="content" id="articleBody" itemprop="articleBody">
                {{.Post.MD}}
            </div>
        </article>
    </div>
</div>
