<header id="header">
    <a href="/">
        <div id="logo" style="background-image: url(/{{.Config.SourceVersion}}/images/{{.Config.Site.LogoName}});"></div>
        <div id="title">
            <h1>{{print page_name}}</h1>
        </div>
    </a>
    <div id="nav">
        <ul>
            <li class="icon">
                <a href="#"><i class="fas fa-bars fa-2x"></i></a>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/archives.html">Writing</a></li>
        </ul>
    </div>
</header>

<div id="archive markdown-body">
    <ul class="post-list">
        {{range .PostData}}
        <h2>{{.Key}}</h2>
        {{range .Posts}}<li class="post-item">
            <div class="meta">
                <time datetime="{{.CreatedAtFormat}}" itemprop="datePublished">{{.CreatedAtFormat}}</time>
            </div>
            <span>
                <a class="" href="{{.Link}}">{{.Title}}</a>
            </span>
        </li>
        {{end}}{{end}}
    </ul>
</div>